
* {
    box-sizing: border-box;
  }
  
  body{background-color: darkgrey;}

  .head{
    text-align: center;
    padding: 15px;
  }
  .table{
      display: flex;
      margin: 15px;
      padding: 15px;
  }
  .menu{
      border: solid 2px black;
      margin: 15px;
      position: relative;
      background-color: wheat;
  }
  h3{
      padding: 15px;
      text-align: justify;
  }
  .menu h2{
    font-size: 20px;
	width: 150px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	float: right; top :0; right: 0; margin: 0;
	position: absolute;
    background: white;
  }


@media only screen and (max-width:600px){
.table{
  color: red;

}}